@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
}

.header_section {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid black;
  background-color: aliceblue;
}
.header_section .container {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
}
.header_section .container .logo {
  width: 15px;
}
.header_section .container .menu_holder {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 30PX;
}
.header_section .container .menu_holder .menu {
  width: 60%;
}
.header_section .container .menu_holder .menu nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}
.header_section .container .menu_holder .menu nav ul li {
  margin: 0px 5px;
}
.header_section .container .menu_holder .menu nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
}
.header_section .container .menu_holder .menu nav ul li a:hover {
  border-bottom: 2px solid sage;
}
.header_section .container .menu_holder .cta_btn {
  width: 25%;
}
.header_section .container .menu_holder .cta_btn button {
  background: none;
  border: 0;
}

.header_container {
  background-color: aliceblue;
  transition: all 500ms ease-in-out;
}
.header_container:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.header_container .container {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 4px 10px 20px transparent;
  margin: 40px 0px;
  transition: all 500ms ease-in-out;
}
.header_container .container:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.header_container .nav {
  gap: 100px;
}

.nav {
  padding: 0px 10px;
}

.hero_container .container {
  transition: all 500ms ease-in-out;
}
.hero_container .container:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.hero_container .container .hero {
  background-color: aliceblue;
}
.container .Abt {
  background-color: aliceblue;
  transition: all 500ms ease-in-out;
}
.container .Abt:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}

.Experiences_container {
  padding: 50px 300px;
  margin-top: 0px;
}
.Experiences_container .Exp {
  margin-top: 50px;
}

.html {
  background-color: aliceblue;
  box-sizing: border-box;
}

.css {
  background-color: aliceblue;
  box-sizing: border-box;
}

.coding {
  background-color: aliceblue;
  box-sizing: border-box;
}

.exp_box {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 4px 10px 20px transparent;
  margin: 40px 0px;
  transition: all 300ms ease-in-out;
}
.exp_box:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}

.skill_container .IMG {
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.skill_container .IMG:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.skill_container .HARD {
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.skill_container .HARD:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.skill_container .SOFT {
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.skill_container .SOFT:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.skill_container .skill {
  border-radius: 5px;
  box-shadow: 6px 15px 25px transparent;
  margin: 40px 0px;
}

.project_section .project_container {
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
  width: 100%;
  background-color: aliceblue;
}
.project_section .project_container .project_heading {
  width: 100%;
}
.project_section .project_container .project_heading h1 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.project_section .project_container .project_heading h1:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.project_section .project_container .project_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.project_section .project_container .project_img:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}
.project_section .project_container .project_img .img {
  width: 30%;
}
.project_section .project_container .project_img .img img {
  width: 80%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  display: block;
  box-shadow: 5px 5px 15px;
}
.project_section .project_container .project_img .img img:hover {
  transform: all 1s ease;
  border: 4px soli aliceblue;
}
.project_section .project_container .project_img .img h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.enroll_form {
  padding: 100px 0px;
}
.enroll_form .container .main_form {
  padding: 40px 100px;
  background-color: aliceblue;
}
.enroll_form .container button[type=submit] {
  width: 100%;
}
.enroll_form .container .form {
  padding: 20px 50px;
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.enroll_form .container .form:hover {
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
}

.footer_container {
  background-color: aliceblue;
  padding: 10px 10px;
}
.footer_container .footer {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */